<form
  #searchForm="ngForm"
  (ngSubmit)="onSearch(searchForm)">
  <div>
    <label>品番:</label>
    <input
      type="text"
      name="productNo"
      ngModel>
  </div>
  <div>
    <label>品名:</label>
    <input
      type="text"
      name="productName"
      ngModel>
  </div>
  <fieldset ngModelGroup="deliveryAt">
    <div>
      <label>納品日:</label>
      <input
        type="text"
        name="from"
        ngModel>
    </div>
    <div>
      <label>〜</label>
      <input
        type="text"
        name="to"
        ngModel>
    </div>
  </fieldset>
  <button type="submit">検索</button>
</form>
