<mat-card class="login-page">
    <mat-card-title>ログイン</mat-card-title>
    <mat-card-content>
        <form class="login-form" [formGroup]="form">
            <mat-form-field>
                <input type="email" matInput placeholder="Email" formControlName="email" />
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password" />
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="login()" [disabled]="form.invalid">
                ログイン
            </button>
        </form>
    </mat-card-content>
</mat-card>
