<mat-card class="mt-3">
  <mat-card-subtitle class="text-center">
    {{'TEXT.AVAILABLE_TIME'|translate}}
  </mat-card-subtitle>
  <mat-card-content>
    <p class="text-center">{{'TEXT.SITE_OPEN_TIME'|translate }}〜{{'TEXT.SITE_CLOSE_TIME'|translate}}</p>
  </mat-card-content>

  <mat-card-subtitle class="text-center">
    {{'TEXT.CONTACT_INFO'|translate}}
  </mat-card-subtitle>
  <mat-card-content class="text-center">
    <a href="mailto:yamatotaro30@gmail.com">yamatotaro30@gmail.com</a>
  </mat-card-content>
</mat-card>
